
<!DOCTYPE html>
<html lang="en">
  <head>  
  	<link rel="stylesheet" href="/assets/main.css">
	
  </head>
  <body>

  
 
   <!--  <div id="div_full">

      <div id="div_first">
        
          <a href="http://ninjacarshopper.com/search-results/"><h4>YOU DESERVE THE BEST</h4>
         <h5> Pre-Screened car means you only look at top quality.You deserve to look at the cream of the crop.</h5></a>
      </div>
      <div id="div_second">
        
          <a href="http://ninjacarshopper.com/credit-application/"><h4>WORRYFREE FINANCING</h4>
          <h5>Pre-approval means you in your car way faster. Call us today at (403) 457-2182.</h5></a>
      </div>
      <div id="div_third">
        
          <a href=" http://ninjacarshopper.com/how-it-works/"><h4>ALWAYS HONEST.REAL ADVICE</h4>
          <h5>The Ninja&#39;s are committed to excellence in customer service. Helpful, real advice you can count on.</h5></a>
      </div>
      <img alt="" src="http://s30.postimg.org/irqxastnl/banner_2.jpg" style="width: 1349px; height: 144px;" /></div>
   -->

   

<!-- #div_full {
    position: absolute;
   
}

#div_full h4, h5 {
    color: #ffffff;
    font-weight: 700;
    line-height: 1.4;
}

#div_first {
    position: absolute;
    text-align: justify;
    margin-left:23em;
    margin-top:0.5em; 
    width:14em; 

}

#div_second {
    position: absolute;
    text-align: justify;
    margin-left:43em; 
    margin-top:0.5em; 
    width:14em; 
}

#div_third {
    position: absolute;
    text-align: justify;
    margin-left:64em; 
    margin-top:0.5em; 
    width:17em;
}
#h4 a:active {
    color: blue;
}
#div_third a :hover {
    color: red;
} -->



  

 <!-- <img width="100" height="150" alt="thumbIcon" src="http://ninjacarshopper.com/wp-content/uploads/2014/08/chatIcon.png">

<img src="/assets/banner.jpg" width="1243" height="144" usemap="#planetmap">

<map name="planetmap">
  <area shape="rect" coords="282,1,566,142" id="text_hover" href="http://www.rupeevest.com" alt="Sun">
  <area shape="rect" coords="580,1,866,141" href="http://www.rupeevest.com" alt="Mercury">
  <area shape="rect" coords="874,1,1177,141" href="http://www.google.co.in" alt="Venus">
</map> -->


<style type="text/css">
/*#text_hover:hover {
 
      
    color: #e4e4e4;
    background: #0098f9;
   
   
    z-index: 1;
   */
}

</style>

		</body>
		</html>





[column title="We listen and learn about your current situation, needs, and priorities." class="first"]Tell us about the vehicle you want, and what’s important to you given your current situation. We are committed to finding a vehicle suited to your needs and preferences. We may make suggestions to make sure you don’t just get what you want, but that you get you get what you need.[/column]

[column title="Car shopping should be fun, not annoying, full of stress or dangerous."]Are you an expert car shopper and do you have the time to learn how to be one? Do you want to spend hundreds or thousands of dollars on mechanical inspections and brain damage? We have quality car dealer relationships and expert knowledge. You’ll look at top quality vehicles, then we make sure you are getting good value.[/column]

[column title="We’re diligent about finding the best quality, and best value vehicles."]Cars, trucks, vans and SUV’s available through Ninja Car Shopper are sourced from only proven “high quality dealers” who share our philosophy about quality. Best sourced, tough inspections and reconditioned! And… we know their inventory and… they tell us if a car is rough and to be avoided. Wow![/column]

[column title="We are committed to unsurpassed post-sale customer support."]Who else is going to call you one week, one month, and six months later to make sure “gremlins aren’t crawling out of the trunk?” Who else always knows what to do next when there’s a problem? We guard your interests, know the next best step, and at worst… save you money.[/column]




<!-- Career -->

<div class="container" id="career" name="career">
      <br><br><br>
      <br>
      <div class="row">
        <h2 class="centered">CAREER</h2>
        <hr>
        <br>
      </div><!-- row -->

      <div class="row">
        <div class="col-lg-6 blog-bg">
          <div class="col-lg-4 centered">
          <br>
            <p><img class="img img-circle" src="/assets/career1.jpg" width="60px" height="60px"></p>
            <h4>Join Our Organization</h4>
            <!-- <h5>Published Aug 30.</h5> -->
          </div>

          <div class="col-lg-8 blog-content" id="career_form">
            <h2>Apply Here</h2>     
    <!-- Form -->
        <form  action="" method="POST" enctype="multipart/form-data" id="contact-form" >
            <div>
              <label>
                <span>Name: *</span>
                <input placeholder="Enter your name" type="text" tabindex="1" pattern="[a-zA-Z. ]{1,50}" id="contact_name" name="contact[name]" required >
              </label>
            </div>
            <div>
              <label>
                <span>Email: *</span>
                <input placeholder="Enter your email address" type="email" tabindex="2" id="contact_email" name="contact[email]"  required>
              </label>
            </div>
            <div>
              <label>
                <span>Mobile: * </span>
                <input placeholder="Enter your mobile number" type="tel" tabindex="3" pattern="[0-9]{10}" maxlength="10" id="contact_phone" name="contact[phone]" required>
              </label>
            </div>
          <div>
              <label>
                <span>Qualification: *</span>
                <input placeholder="Enter the qualification" type="text" tabindex="4" pattern="[a-zA-Z. ]{1,50}" id="contact_qualification" name="contact[qualification]" required>
              </label>
            </div>
            <div>
              <label>
                <span>Upload Resume: *</span>
                <input placeholder="Upload a file" type="file" tabindex="5" pattern="[a-zA-Z. ]{1,50}" id="contact_file" name="contact[file]" required>
              </label>
            </div>
            <div>
              <button name="submit" type="submit" id="contact-submit" name="commit">Submit</button>
            </div>
        </form> 
    <!-- /Form -->
            <!-- <p><a href="#" class="icon icon-link"> Read More</a></p> -->
            <br>
          </div>
        </div><!-- /col -->
        
        <div class="col-lg-6 blog-bg">
          <div class="col-lg-4 centered">
          <br>
            <p><img class="img img-circle" src="/assets/career2.png" width="60px" height="60px"></p>
            <h4>Current Jobs</h4>
            <!-- <h5>Published Aug 28.</h5> -->

          <br><br><br><br>
            <p><img class="img img-circle" src="/assets/career3.jpg" width="60px" height="60px"></p>
            <!-- <h4>Current Job</h4> -->
            <!-- <h5>Published Aug 28.</h5> -->
          
          </div>

          <div class="col-lg-8 blog-content">
            <h2>Lead Your Own Destiny</h2>
        <ul id="career_ul">                
                <li><a href="http://www.pravestech.ca/CareerDetail.aspx#SBC">SAP Basis Consultant</a> </li>
                <li><a href="http://www.pravestech.ca/CareerDetail.aspx#HR">SAP HR</a> </li>
                <li><a href="http://www.pravestech.ca/CareerDetail.aspx#SSAP">SAP Security Senior Consultant</a> </li>
                <li><a href="http://www.pravestech.ca/CareerDetail.aspx#BI">Senior Business Intelligence Developer–ArcGIS</a>
                </li>
                <li><a href="http://www.pravestech.ca/CareerDetail.aspx#STQA">Software Testing and QA Analyst</a> </li>
                <li><a href="http://www.pravestech.ca/CareerDetail.aspx#BPC">SAP BPC Project Manager/Solution Architect</a>
                </li>
                </ul>

                       <H2>Working at PRAVES</H2>
                       <P>Praves Technologies builds strong relations with employees based on mutual trust and respect. Our strength lies in our highly skilled and motivated work force. We look forward to have people with talent, inspiration and sense of adventure for taking themselves and lead to company growth as well.
                       </P>
                      <!-- <p><a href="#" class="icon icon-link"> Read More</a></p> -->
            <br><br>
          </div>

        </div><!-- /col -->
      </div><!-- /row -->
      <br>
      </div><!-- container -->


css:


      #career_ul {
    margin-left: 20px;
}

#career_form #contact-form button[type="submit"]
 {
    width: 25em;
    background-image:linear-gradient(bottom, #838CD3 0%, #8BA1E9 52%);
    background-image:-moz-linear-gradient(bottom, #838CD3 0%, #8BA1E9 52%);
    background-image:-webkit-linear-gradient(bottom, #838CD3 0%, #8BA1E9 52%);
    }