
<!DOCTYPE html>
<html lang="en">
  <head>  
  	<link rel="stylesheet" href="/assets/main.css">
	
  </head>
  <body>
 <img width="100" height="150" alt="thumbIcon" src="http://ninjacarshopper.com/wp-content/uploads/2014/08/chatIcon.png">

<img src="/assets/banner.jpg" width="1243" height="144" alt="Planets" usemap="#planetmap">

<map name="planetmap">
  <area shape="rect" coords="282,1,566,142" id="text_hover" href="http://www.rupeevest.com" alt="Sun">
  <area shape="rect" coords="580,1,866,141" href="http://www.rupeevest.com" alt="Mercury">
  <area shape="rect" coords="874,1,1177,141" href="http://www.google.co.in" alt="Venus">
</map>


<style type="text/css">
#text_hover:hover {
 
      
    color: #e4e4e4;
    background: #0098f9;
   
   
    z-index: 1;
   
}

</style>

		</body>
		</html>

		[column title="We listen and learn about your current situation, needs, and priorities." class="first"]Tell us about the vehicle you want, and what’s important to you given your current situation. We are committed to finding a vehicle suited to your needs and preferences. We may make suggestions to make sure you don’t just get what you want, but that you get you get what you need.[/column]

[column title="Car shopping should be fun, not annoying, full of stress or dangerous."]Are you an expert car shopper and do you have the time to learn how to be one? Do you want to spend hundreds or thousands of dollars on mechanical inspections and brain damage? We have quality car dealer relationships and expert knowledge. You’ll look at top quality vehicles, then we make sure you are getting good value.[/column]

[column title="We’re diligent about finding the best quality, and best value vehicles."]Cars, trucks, vans and SUV’s available through Ninja Car Shopper are sourced from only proven “high quality dealers” who share our philosophy about quality. Best sourced, tough inspections and reconditioned! And… we know their inventory and… they tell us if a car is rough and to be avoided. Wow![/column]

[column title="We are committed to unsurpassed post-sale customer support."]Who else is going to call you one week, one month, and six months later to make sure “gremlins aren’t crawling out of the trunk?” Who else always knows what to do next when there’s a problem? We guard your interests, know the next best step, and at worst… save you money.[/column]