<!DOCTYPE html>
<html>

<head>
  <title>Moblie App Development Company |  Business  Apps Developer - Praves Technologies</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

<link rel="icon" type="image/ico" href="/assets/favicon.ico">
</head>
<body>

<%= yield %>

</body>
</html>
